{% extends 'index.html' %} 

{% block styles %}
<link href="{{url_for('static', filename='css/sb-admin.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="wrapper">

	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">MooData MilkLab Archived Reports</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li>
					<a href="/lab-dashboard"> <i class="fa fa-dashboard"></i>
						Dashboard
					</a>
				</li>
				<li class="active">
					<a href="/lab-archive"> <i class="fa fa-bar-chart-o"></i>
						Archived Reports
					</a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right navbar-user">

				<li class="dropdown user-dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						John Smith <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">
								<i class="fa fa-gear"></i>
								Settings
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<i class="fa fa-power-off"></i>
								Log Out
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
	
	
	<div id="page-wrapper">

		<div class="row">

			<div class="col-lg-6">

				<h2>Enter start date and end date to find the archived lab reports.</h2>

				
				
				<div class="form-group">
					<label for="to">From:</label>
					<input type="date" class="form-control" id="date_received" placeholder=""></div>
				<div class="form-group">
					<label for="from">To:</label>
					<input type="date" class="form-control" id="test_date" placeholder=""></div>
			
					
					
					
				<div class="btn-group">
  				<button type="button" class="btn btn-danger">Select Farm</button>
  				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  				</button>
  				<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Daniel Farm</a></li>
    			<li><a href="#">Pascoal Farm</a></li>
    			<li><a href="#">Marcos Farm</a></li>
    			<li><a href="#">Anoop Farm</a></li>
  				</ul>
				</div>
				
				<button type="submit" class="btn btn-info">Submit</button>

				<form class="form"></form>

				
		</div>
	</div>		
		
		<!-- /.row -->
		<!-- /.row -->
		<div class="row">

			<div class="col-lg-12">
				<h2>Recent Reports</h2>

				<table id="report-table" class="table table-striped	">
					<thead>
						<tr>

							<th>Date Received</th>
							<th>Date Reported</th>
							<th>Owner</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nov 9, 2013</td>
							<td>Nov 10, 2013</td>
							<td>Daniel Miller's Farm</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-info">
										<span class="glyphicon glyphicon-eye-open"></span>
										Preview
									</button>
									<button class="btn btn-warning">
										<span class="glyphicon glyphicon-pencil"></span>
										Edit
									</button>
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										Delete
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Oct 12, 2013</td>
							<td>Oct 13, 2013</td>
							<td>Daniel Miller's Farm</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-info">
										<span class="glyphicon glyphicon-eye-open"></span>
										Preview
									</button>
									<button class="btn btn-warning">
										<span class="glyphicon glyphicon-pencil"></span>
										Edit
									</button>
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										Delete
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Oct 3, 2013</td>
							<td>Oct 4, 2013</td>
							<td>Daniel Miller's Farm</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-info">
										<span class="glyphicon glyphicon-eye-open"></span>
										Preview
									</button>
									<button class="btn btn-warning">
										<span class="glyphicon glyphicon-pencil"></span>
										Edit
									</button>
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										Delete
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Sep 21, 2013</td>
							<td>Sep 22, 2013</td>
							<td>Daniel Miller's Farm</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-info">
										<span class="glyphicon glyphicon-eye-open"></span>
										Preview
									</button>
									<button class="btn btn-warning">
										<span class="glyphicon glyphicon-pencil"></span>
										Edit
									</button>
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										Delete
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Sep 10, 2013</td>
							<td>Sep 11, 2013</td>
							<td>Daniel Miller's Farm</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-info">
										<span class="glyphicon glyphicon-eye-open"></span>
										Preview
									</button>
									<button class="btn btn-warning">
										<span class="glyphicon glyphicon-pencil"></span>
										Edit
									</button>
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										Delete
									</button>
								</div>
							</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>
		<!-- /.row -->
	
	
	
			
{% endblock %}