{% extends 'index.html' %} 

{% block styles %}
<link href="{{url_for('static', filename='css/sb-admin.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}
<div id="wrapper">

	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">MooData MilkLab Dashboard</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li class="active">
					<a href="/lab-dashboard"> <i class="fa fa-dashboard"></i>
						Dashboard
					</a>
				</li>
				<li>
					<a href="/lab-archive"> <i class="fa fa-bar-chart-o"></i>
						Archived Reports
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right navbar-user">

				<li class="dropdown user-dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						John Smith <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">
								<i class="fa fa-gear"></i>
								Settings
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<i class="fa fa-power-off"></i>
								Log Out
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div id="page-wrapper">

		<div class="row">

			<div class="col-lg-6">

				<h2>Input New Data</h2>
					<form name ="MooLab" role="form">
						<div class="form-group">
						<label for="exampleInputEmail1">Test Date</label>
					<input type="text" class="form-control" id="test_date" name= "test_date">
						</div>
						
					<div class="form-group">
						<label for="DateReceived">Received Date</label>
							<input type="date" class="form-control" id="date_received" placeholder="">
					</div>
					<div class="form-group">
					<label for="farmer_id">Farmer's ID</label>
					<input type="number" class="form-control" id="f_id" placeholder="Enter ID">
						</div>
						<div class="form-group">
					<label for="volume">Volume</label>
					<input type="number" class="form-control" id="vol" placeholder="Enter Volume">
						</div>
						<div class="form-group">
					<label for="milkfat">Milk Fat</label>
					<input type="number" class="form-control" id="milkfat" placeholder="Enter Milk Fat">
						</div>
						<div class="form-group">
					<label for="protein">True Protein</label>
					<input type="number" class="form-control" id="protein" placeholder="Enter Protein">
						</div>
						<div class="form-group">
					<label for="platecount">Total Plate Count</label>
					<input type="number" class="form-control" id="platecount" placeholder="Enter Plate Count">
						</div>
						<div class="form-group">
					<label for="temp">Temperature</label>
					<input type="number" class="form-control" id="temp" placeholder="Enter Temperature">
						</div>
						<div class="form-group">
					<label for="bmcc">BMCC</label>
					<input type="number" class="form-control" id="bmcc" placeholder="Enter BMCC">
						</div>
					<button type="submit" class="btn btn-info">Submit</button>
					<button type="button" class="btn btn-info" onclick="ClearContact()">Clear</button>
				</div>
				
				
			
			</div>
		</div>
		<script>
var mydate=new Date()
var theyear=mydate.getYear()
if (theyear < 1000)
theyear+=1900
var theday=mydate.getDay()
var themonth=mydate.getMonth()+1
if (themonth<10)
themonth="0"+themonth
var theday=mydate.getDate()
if (theday<10)
theday="0"+theday


var displayfirst=themonth
var displaysecond=theday
var displaythird=theyear


document.MooLab.test_date.value=displayfirst+"-"+displaysecond+"-"+displaythird
</script>
<script type="text/javascript">
       function ClearContact() 
	   {
      document.getElementById('f_id').value = '';
	  document.getElementById('vol').value = '';
	  document.getElementById('milkfat').value = '';
	  document.getElementById('protein').value = '';
	  document.getElementById('platecount').value = '';
	  document.getElementById('temp').value = '';
	  document.getElementById('bmcc').value = '';
	  
	  }
	  </script> 
		<!-- /.row -->
		<div class="row">

			<div class="col-lg-12">
				<h2>Recent Reports</h2>

				<table id="report-table" class="table table-striped	">
					<thead>
						<tr>

							<th>Date Received</th>
							<th>Date Reported</th>
							<th>Owner</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nov 9, 2013</td>
							<td>Nov 10, 2013</td>
							<td>Daniel Miller's Farm</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-info">
										<span class="glyphicon glyphicon-eye-open"></span>
										Preview
									</button>
									<button class="btn btn-warning">
										<span class="glyphicon glyphicon-pencil"></span>
										Edit
									</button>
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										Delete
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Nov 9, 2013</td>
							<td>Nov 10, 2013</td>
							<td>MooJuice LLC</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-info">
										<span class="glyphicon glyphicon-eye-open"></span>
										Preview
									</button>
									<button class="btn btn-warning">
										<span class="glyphicon glyphicon-pencil"></span>
										Edit
									</button>
									<button class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span>
										Delete
									</button>
								</div>
							</td>
						</tr>

					</tbody>

				</table>

			</div>
		</div>
		<!-- /.row -->
		<!-- /.row -->
		
		<!-- /.row -->

	</div>
	<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock %}